<%= render 'layouts/errors', object: @image %>

<%= form_for [@profile, @image] do |f| %>
  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <% if new_image %>
    <div class="form-group">
      <%= f.label :file %><br />
      <%= f.file_field :file, class: 'form-control' %>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.submit class: 'btn btn-info' %>
  </div>
<% end %>
